* {
    font-family: "Agency FB";
}

h1 {
    color: #A63D40;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    transition: transform 0.4s;;
    text-shadow: 4px 4px 4px #F2F2F2;
    width:auto;

}

h1:hover {
    transform: scale(1.2) rotate(-2deg);

}

p {
    color: #151515;
    font-size: 25px;
    text-align: center;

}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
}

.flexbox div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #A63D40;
    border-radius: 10px;
    background-color: #F2F2F2;
    box-shadow: 5px 5px 5px #A63D40;
    width: 520px;
    transition: scale 0.4s;;
}

.flexbox div:hover {
    scale: 1.05;
    filter: brightness(110%);


}

.flexbox > div > h2 {
    text-align: center;
}

.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    flex-direction: row;
    Border: 2px darkred solid;
    width: 350px;
    margin: auto;
    background-color: rgba(242, 242, 242, 0.5);

}


.upload-box > div > button {
    margin-left: 5px;
    font-size: large;
    border: darkred solid 2px;


}

.upload-box > div > p {
    text-align: start;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    font-size: 25px;
    text-shadow: #F2F2F2 2px 2px 2px;
}
body {
    background-image: url("images/basketballbanner.jpg");
    overflow-x: hidden;
}